<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="from-event">fromEvent</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">OfFrom</a>
            </li>
            <li>
                <a routerLink="to-array">ToArray</a>
            </li>
            <li>
                <a routerLink="custom-obs">Custom-Observable</a>
            </li>
            <li>
                <a routerLink="map-obs">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
            <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="tap">Tap</a>
            </li>
            <li>
                <a routerLink="take">Take, TakeLast and TakeUntil</a>
            </li>
            <li>
                <a routerLink="retry">Retry</a>
            </li>
            <li>
                <a routerLink="debouncetime">DebounceTime & <br> DistinctUntilChanged</a>
            </li>
            <li>
                <a routerLink="subject">Subject & <br> Behavior subject</a>
            </li>
            <li>
                <a routerLink="replySubject">Reply Subject</a>
            </li>
            <li>
                <a routerLink="async-subject">Async Subject</a>
            </li>
            <li>
                <a routerLink="concat">Concat</a>
            </li>
            <li>
                <a routerLink="merge">Merge</a>
            </li>
            <li>
                <a routerLink="merge-map">Merge-Map</a>
            </li>
            <li>
                <a routerLink="concat-map">Concat-Map</a>
            </li>
            <li>
                <a routerLink="switch-map">Switch-Map</a>
            </li>
        </ul>
    </div>
</div>
