<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am in the AppComponent</h3>
            <hr>
            <app-servers></app-servers>
            <hr>
            <app-warning-alert></app-warning-alert>
            <hr>
            <app-success-alert></app-success-alert>
            <div></div>
        </div>
    </div>
</div> -->

<!-- <input type="text" [(ngModel)]="name"> -->
<!-- <p>My name is {{name}}</p> -->
<!-- <div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr> -->
<!-- <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
            <app-server-element 
            *ngFor="let serverElement of serverElements"
            [srvElement]="serverElement"
            [name]="serverElement.name">
        <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color:red">{{serverElement.content}}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>
        </app-server-element>
        </div>
    </div> -->
<!-- <div class="row">
        <div class="col-xs-12">
            <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
            <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
            <p appBasicHighlight>Style me with basic directive</p> -->
<!-- <p appBetterHighlightDirective [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive</p> -->
<!-- OR  -->
<!-- <p appBetterHighlightDirective defaultColor="yellow" highlightColor="red">Style me with better directive</p>
        </div>
    </div> -->
<!-- <div *appUnless="onlyOdd">
        <li
            class="list-group-item"
            [ngClass]="{odd: even %2 !==0}"
            {{even}}>
        </li>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 ">
            <a routerLink="/">Home</a>
            <a [routerLink]= "['user',1]">User 1
            </a>
            <a [routerLink]="['user',2]">User 2               
            </a>    
        </div>      
    </div>
    <p *ngIf="userActivated">Activated</p>
        <hr/>
          <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <router-outlet></router-outlet>
                </div>
          </div>
</div> -->



<!-- --------- ---------- -------------- ------------ Template form -->


<!-- 
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit(f)" #f='ngForm'>
                <div id="user-data"
                 ngModelGroup="userData"
                 #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input 
                          type="text"
                          id="username" 
                          class="form-control"
                          ngModel
                          name="username"
                          required>
                    </div>
                    <button 
                    class="btn btn-default"
                     type="button"
                     (click)="suggestedUserName()">Suggest an Username</button>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input 
                            type="email" 
                            id="email" 
                            class="form-control"
                            ngModel
                            name="email"
                            required
                            email
                            #email='ngModel'>
                            <span class="help-block" *ngIf = "!email.valid && email.touched">Please Enter valid Email!</span>
                    </div>
                </div>
                <p *ngIf = "!userData.valid && userData.touched">User data is invalid!</p>
                <div class="form-group">
                    <label for="secret">Secret Questions</label>
                    <select 
                        id="secret" 
                        class="form-control"
                        [ngModel] ="defaultQuestion"
                        name="secret">
                        <option value="pet">Your first Pet?</option>
                        <option value="teacher">Your first teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea 
                        name="questionAnswer" 
                        rows="3"
                        class="form-control"
                        [(ngModel)]="answer"></textarea>
                </div>
                <p>Your reply: {{answer}}</p> 
                <div class="radio" *ngFor= "let gender of genders">
                    <label>
                        <input 
                        type="radio"
                        name="gender"
                        ngModel
                        [value]="gender"
                        required>
                        {{gender}}
                    </label>
                </div>
                <button 
                    class="btn btn-primary" 
                    type="submit"
                    [disabled]= "!f.valid">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf ="submitted">
        <div class="col-xs-12">
            <h3>Your Data</h3>
            <p>Username: {{user.username}}</p>
            <p>Mail: {{user.email}}</p>
            <p>Secret Question: Your first {{user.secretQuestion}}</p>
            <p>Answer: {{user.answer}}</p>
            <p>Gender: {{user.gender}}</p>   
        </div>
    </div>
</div> -->


<!-- --------------------------  Reactive form ----------------------------->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div formGroupName ="userData">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                         type="text"
                          id="username" 
                          formControlName="username"
                           class="form-control">
                        <span *ngIf = "!signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid</span>
                        <span *ngIf="!signupForm.get('userData.username').errors['required']">This field is required</span>

                        <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" class="help-block">Please
                            enter a valid username</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" id="email" formControlName="email" class="form-control">
                        <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" class="help-block">Please enter a
                            valid Email</span>
                    </div>
                </div>
               
    
               <div class="radio" *ngFor="let gender of genders">
                   <label>
                       <input 
                        type="radio" 
                        formControlName ="gender"
                        [value]="gender">
                        {{gender}}
                    </label>
                </div>
                <div formArrayName ="hobbies">
                    <h4>Your Hobbies</h4>
                    <button 
                        class="btn btn-default"
                        type="button"
                        (click)="onAddHobby()">Add Hobby</button>
                        <div class="form-group"
                         
                        *ngFor="let hobbyControl of getControls(); let i = index">
                            <input type="text" class="form-control" [formControlName]="i">
                        </div>
                </div>
                <span 
                *ngIf="!signupForm.valid && signupForm.touched" 
                class="help-block">Please enter a valid Data</span>
                    
                   <button class="btn btn-primary" type="submit">Submit</button>
           </form>
        </div>
    </div>
</div> -->

<!-- ----------------------------------Assignment 7 -->


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

            <form [formGroup]="ProjectForm" (ngSubmit)="onSaveProject()">
                <div class="form-group">
                    <label for="name">Project Name</label>
                    <input type="text" id="name" formControlName="projectName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Mail</label>
                    <input type="email" id="email" formControlName="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="status">Projectstatus</label>
                    <select id="status" formControlName="projectStatus" class="form-control">
                        <option value="stable">Stable</option>
                        <option value="critical">Critical</option>
                        <option value="finished">Finished</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Create Project</button>
            </form>
        </div>
    </div>
</div>