/* h3{
    color: darkblue;
} */
/* 
button{
    margin: 3rem;
} */
div{
    margin:3rem;
}

/* The justify-content property aligns the flexible container's items when the items do not use 
all available space on the main-axis (horizontally). */

.navbar{
    justify-content: space-between;
}

span{
    padding-right: 1rem;
}