<app-headers></app-headers>
<app-observable></app-observable>
<!-- <div><app-form-assignment></app-form-assignment>  </div> -->


<!-- ------------ ----------------- -------------- Angular Material ------ --------- ----------- -->

<!-- Should be use only once in page -->
<!-- <div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div> -->

<!-- Can be use multiple times in page -->
<!-- <div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h1</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div> -->
<!-- 
<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div> -->

<!-- <div class="mat-typography">
<h1>This is a heading for h1</h1>
<h2>This is a heading for h2</h2>
<h3>This is a heading for h3</h3>
<h4>This is a heading for h4</h4>
</div> -->


<!-- Buttons -->
<!-- <div>
    <button mat-button>Click me!</button>
    <button mat-raised-button>Click me</button>
    <button mat-flat-button>Click me!</button>
    <button mat-stroked-button>Click me</button>
</div> -->

<!-- Circular buttons with default theme colour setup-->
<!-- <div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Minifab!</button>
</div> -->
<!-- Button colors-->

<!-- <div>
    <button color="primary" mat-button>Primary!</button>
    <button color="accent" mat-button>Accent</button>
    <button color="warn" mat-button>Warn!</button>
    <button color="primary" mat-raised-button>Primary!</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn!</button>
</div> -->

<!-- To disable the background animation effect use disableRipple -->
<!-- <button color="warn" disableRipple mat-button>Warn!</button> -->


<!-- Toggle button -->
<!-- <div> -->
<!-- <mat-button-toggle>Toggle</mat-button-toggle> -->
<!-- <mat-button-toggle #toggleBtn checked>Toggle</mat-button-toggle>
{{toggleBtn.checked}} -->
<!-- <mat-button-toggle disableRipple disabled>Toggle</mat-button-toggle>
</div> -->


<!-- <div>
    <mat-button-toggle-group #toggleGroup = "matButtonToggleGroup" multiple>
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="React">React</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
   {{toggleGroup.value}}
</div> -->

<!-- <div>
    <mat-icon color="primary">grade</mat-icon>
</div> -->


<!-- Badge -->

<!-- <div>
    <span matBadge="5">Notifications</span>
</div>

<div>
    <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

<div>
    <span matBadge="5" matBadgeSize="small">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="medium">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgeSize="large">Notifications</span>
</div> -->

<!-- <div>
    <span matBadge="5" matBadgeColor="primary">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="accent">Notifications</span>
</div>
<div>
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div> -->

<!-- here we declare notifiaction=2 in app.ts and use property binding. -->

<!-- matBadgeHidden is used to hide badge -->
<!-- <div>
    <span [matBadge] = "notifications" [matBadgeHidden] ="notifications === 0">Notifications</span>
</div> -->


<!-- =================        PROGRESS SPINNER            ================================ -->

<!-- Mat-progress-spinner has value from 0 to 100 -->

<!-- <mat-progress-spinner value="100"></mat-progress-spinner> -->


<!-- In app.ts file we declare showSpinner property and loadData function -->
<!-- <mat-spinner *ngIf="showSpinner"></mat-spinner>
<button (click)="loadData()">Load Data</button> -->

<!-- ============ ================  ToolBar          =================  -->

<!-- <mat-toolbar color="primary">
    <span>Angular</span>
</mat-toolbar> -->

<!-- Converting toolbar into navbar. Navbar typically consist of title on left
     and  a group of links on the right -->

<!-- <mat-toolbar color="primary" class="navbar">
    <div>Angular</div>
    <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
    </div>
</mat-toolbar> -->

<!-- Side Navbar -->
<!-- 3 types of mode are over,push and side -->
<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav (opened)="log('Opened')"
     (closed)="log('Closed')"
      mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content>Main
        <button (click)="opened = !opened">Toggle Opened</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container> -->


<!-- /* ================================== Menu ================= */ -->

<!-- mat-menu element itself not rendered anything it should be triggered by button or any events -->
<!-- X-position can take values before or after and y-position can take values above or below-->

<!-- <mat-menu #appMenu ="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor] ="subMenu">FrontEnd</button>
    <button mat-menu-item [matMenuTriggerFor] = "submenu1">BackEnd</button>
</mat-menu>
<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>
<mat-menu #submenu1="matMenu">
    <button mat-menu-item>Java</button>
    <button mat-menu-item>Python</button>
</mat-menu> -->

<!-- <mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobbies="hobbies">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Hobby is {{hobbies}}</button>
    <button mat-menu-item>Log Out {{name}}</button>
    </ng-template>
</mat-menu>

<button mat-raised-button
 [matMenuTriggerData]= "{name: 'Sudarshan',hobbies:'Swimming'}"
 [matMenuTriggerFor]="lazyMenu">
 Sudarshan</button>

<button 
mat-raised-button 
[matMenuTriggerData]="{ name: 'ProgrammersIO',hobbies:'Business'}"
[matMenuTriggerFor]="lazyMenu">
ProgrammersIO</button> -->


<!-- =====================        List      =============================-->

<!-- dense is used for small font-->
<!-- <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list> -->

<!-- Navigation-list -->
<!-- <mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
</mat-nav-list> -->

<!-- 
<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
    </mat-list-item>
    <mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <p matLine>Line 2</p>
    </mat-list-item>
</mat-list> -->

<!-- ===================    ===========    Grid-List    ============== ===============-->

<!-- <mat-grid-list cols="2" rowHeight="fit" style="height: 200px" gutterSize="10px">
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list> -->

<!-- /* ================== Expansion-Panel ================================= */ -->
<!-- Mat-accordion has 2 expansion-panel children. -->
<!-- hideToggle is used to hide the expansion arrows -->
<!-- <mat-accordion multi= "true" hideToggle>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Fundamentals
        </mat-panel-title>
        <mat-panel-description>
            Total Duration : 3 Hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Cource Duration - 3 Weeks.</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Material
        </mat-panel-title>
        <mat-panel-description>
            Total Duration : 4 Hours
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Cource Duration - 3 Weeks.</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion> -->

<!-- ================================= Cards ================= -->

<!-- <mat-card>
    <mat-card-title>
        Card title
    </mat-card-title>
    <mat-card-content>
        This is the card content
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button>Login</button>
    </mat-card-actions>
</mat-card> -->

<!--==============================   Tabs =====================-->
<!-- selectedTabChange is an event for listening changes on tab -->
<!-- <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
    <mat-tab label="Angular">Angular Content</mat-tab>
    <mat-tab label="React">React Content</mat-tab>
    <mat-tab label="Vue">Vue Content</mat-tab>
</mat-tab-group>
{{tabRef.selectedIndex}} -->

<!--==============================   Stepper =====================-->
<!-- stepper has 2 types horizontal and vertical -->
<!-- <mat-horizontal-stepper linear>
    <mat-step label= "Shipping Address" completed=true>
     <p>Shipping Address Details</p>
    </mat-step>
    <mat-step label="Billing Address" completed=false optional>
        <p>Billing Address Details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Place Address" completed=false>
        <p>Order Details</p>
    </mat-step>
</mat-horizontal-stepper> -->

<!-- ==================  ===========    Input  ====================-->
<!-- appearance has 4 types legacy,standard,fill and Outline-->
<!-- <mat-form-field floatLabel="auto" hideRequiredMarker appearance= "legacy">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 Characters</mat-hint>
</mat-form-field>


<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 Characters</mat-hint>
</mat-form-field> -->


<!-- ==================  ===========  Select  ====================-->
<!-- 
<mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue">
        <mat-option>None</mat-option>
        <mat-optgroup label="web">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React </mat-option>
            <mat-option value="vue">Vue</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Mobile">
            <mat-option value="ionic">Angular</mat-option>
            <mat-option value="reactnative">React Native</mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>
{{selectedValue}} -->

<!-- <form>
    <mat-form-field>
        <input type="text" matInput [matAutocomplete]="auto">
        <mat-autocomplete
         #auto = "matAutocomplete" 
         [displayWith] ="displayFn"
         [formControl] = "myControl">
            <mat-option *ngFor= "let option of objectOptions" [value] = "option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form> -->





<!-- <!-===================   ========== Http - Firebase ====================-->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" required ngModel name="title" />
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" required ngModel name="content"></textarea>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">
                    Send Post
                </button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <button class="btn btn-primary" (click)="onFetchPosts()">
                Fetch Posts
            </button>
            |
            <button 
            class="btn btn-danger" 
            [disabled]="loadedPosts.length < 1" 
            (click)="onClearPosts()">
                Clear Posts
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p *ngIf = "loadedPosts.length < 1 && !isFetching">No posts available!</p>
            <ul class="list-group" *ngIf = "loadedPosts.length >= 1 && !isFetching">
                <li class="list-group-item" *ngFor="let post of loadedPosts">
                    <h3>{{post.title}}</h3>
                    <p>{{post.content}}</p>
                </li>
            </ul>
            <p *ngIf ="isFetching && !error">Loading...</p>
            <div class="alert alert-danger" *ngIf="error">
               <h3>An error Occurred</h3> 
               <p>{{ error }}</p>
               <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
            </div>
        </div>
    </div>
</div> -->




<!--  -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am in the AppComponent</h3>
            <hr>
            <app-servers></app-servers>
            <hr>
            <app-warning-alert></app-warning-alert>
            <hr>
            <app-success-alert></app-success-alert>
            <div></div>
        </div>
    </div>
</div> -->

<!-- <input type="text" [(ngModel)]="name"> -->
<!-- <p>My name is {{name}}</p> -->
<!-- <div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr> -->
<!-- <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
            <app-server-element 
            *ngFor="let serverElement of serverElements"
            [srvElement]="serverElement"
            [name]="serverElement.name">
        <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color:red">{{serverElement.content}}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>
        </app-server-element>
        </div>
    </div> -->
<!-- <div class="row">
        <div class="col-xs-12">
            <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
            <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
            <p appBasicHighlight>Style me with basic directive</p> -->
<!-- <p appBetterHighlightDirective [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive</p> -->
<!-- OR  -->
<!-- <p appBetterHighlightDirective defaultColor="yellow" highlightColor="red">Style me with better directive</p>
        </div>
    </div> -->
<!-- <div *appUnless="onlyOdd">
        <li
            class="list-group-item"
            [ngClass]="{odd: even %2 !==0}"
            {{even}}>
        </li>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 ">
            <a routerLink="/">Home</a>
            <a [routerLink]= "['user',1]">User 1
            </a>
            <a [routerLink]="['user',2]">User 2               
            </a>    
        </div>      
    </div>
    <p *ngIf="userActivated">Activated</p>
        <hr/>
          <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <router-outlet></router-outlet>
                </div>
          </div>
</div> -->



<!-- --------- ---------- -------------- ------------ Template form -->


<!-- 
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit(f)" #f='ngForm'>
                <div id="user-data"
                 ngModelGroup="userData"
                 #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input 
                          type="text"
                          id="username" 
                          class="form-control"
                          ngModel
                          name="username"
                          required>
                    </div>
                    <button 
                    class="btn btn-default"
                     type="button"
                     (click)="suggestedUserName()">Suggest an Username</button>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input 
                            type="email" 
                            id="email" 
                            class="form-control"
                            ngModel
                            name="email"
                            required
                            email
                            #email='ngModel'>
                            <span class="help-block" *ngIf = "!email.valid && email.touched">Please Enter valid Email!</span>
                    </div>
                </div>
                <p *ngIf = "!userData.valid && userData.touched">User data is invalid!</p>
                <div class="form-group">
                    <label for="secret">Secret Questions</label>
                    <select 
                        id="secret" 
                        class="form-control"
                        [ngModel] ="defaultQuestion"
                        name="secret">
                        <option value="pet">Your first Pet?</option>
                        <option value="teacher">Your first teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea 
                        name="questionAnswer" 
                        rows="3"
                        class="form-control"
                        [(ngModel)]="answer"></textarea>
                </div>
                <p>Your reply: {{answer}}</p> 
                <div class="radio" *ngFor= "let gender of genders">
                    <label>
                        <input 
                        type="radio"
                        name="gender"
                        ngModel
                        [value]="gender"
                        required>
                        {{gender}}
                    </label>
                </div>
                <button 
                    class="btn btn-primary" 
                    type="submit"
                    [disabled]= "!f.valid">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf ="submitted">
        <div class="col-xs-12">
            <h3>Your Data</h3>
            <p>Username: {{user.username}}</p>
            <p>Mail: {{user.email}}</p>
            <p>Secret Question: Your first {{user.secretQuestion}}</p>
            <p>Answer: {{user.answer}}</p>
            <p>Gender: {{user.gender}}</p>   
        </div>
    </div>
</div> -->


<!-- --------------------------  Reactive form ----------------------------->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div formGroupName ="userData">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                         type="text"
                          id="username" 
                          formControlName="username"
                           class="form-control">
                        <span *ngIf = "!signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid</span>
                        <span *ngIf="!signupForm.get('userData.username').errors['required']">This field is required</span>

                        <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" class="help-block">Please
                            enter a valid username</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" id="email" formControlName="email" class="form-control">
                        <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" class="help-block">Please enter a
                            valid Email</span>
                    </div>
                </div>
               
    
               <div class="radio" *ngFor="let gender of genders">
                   <label>
                       <input 
                        type="radio" 
                        formControlName ="gender"
                        [value]="gender">
                        {{gender}}
                    </label>
                </div>
                <div formArrayName ="hobbies">
                    <h4>Your Hobbies</h4>
                    <button 
                        class="btn btn-default"
                        type="button"
                        (click)="onAddHobby()">Add Hobby</button>
                        <div class="form-group"
                         
                        *ngFor="let hobbyControl of getControls(); let i = index">
                            <input type="text" class="form-control" [formControlName]="i">
                        </div>
                </div>
                <span 
                *ngIf="!signupForm.valid && signupForm.touched" 
                class="help-block">Please enter a valid Data</span>
                    
                   <button class="btn btn-primary" type="submit">Submit</button>
           </form>
        </div>
    </div>
</div> -->

<!-- ----------------------------------Assignment 7 -->

<!-- 
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

            <form [formGroup]="ProjectForm" (ngSubmit)="onSaveProject()">
                <div class="form-group">
                    <label for="name">Project Name</label>
                    <input type="text" id="name" formControlName="projectName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Mail</label>
                    <input type="email" id="email" formControlName="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="status">Projectstatus</label>
                    <select id="status" formControlName="projectStatus" class="form-control">
                        <option value="stable">Stable</option>
                        <option value="critical">Critical</option>
                        <option value="finished">Finished</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Create Project</button>
            </form>
        </div>
    </div>
</div> -->

<!-- =======================   -------        PIPES    --------- =============             -->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <input type="text" [(ngModel)]='filteredStatus'>
            <br><br>
            <h2>App Status : {{appStatus | async}} </h2>
            <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
            <hr>
            <ul class="list-group">
                <li
                    class="list-group-item"
                    *ngFor = "let server of servers | filter:filteredStatus:'status'"
                    [ngClass]="getStatusClasses(server)">
                    <span
                    class="badge">
                    {{ server.status }}</span>
                    <strong>{{ server.name | shorten:15 }}</strong> | {{ server.instanceType | uppercase }} 
                     | {{ server.started | date:'fullDate'  | uppercase}}
                </li>
            </ul>
        </div>
    </div>
</div> -->