<div class="my-3">
    <h2>Of and From</h2>
    <br>
    <strong>Ex -01 (OF)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>Of('Sudarshan','Pandurang','Gajdhane')</p>
            <hr>
            <ul id='elContainer'>

            </ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>Of(&#123; first:'Sudarshan', middle:'Pandurang', last:'Gajdhane'&#125;)</p>
            <hr>
            <ul>
                <li>{{obsMsg.first}}</li>
                <li>{{obsMsg.middle}}</li>
                <li>{{obsMsg.last}}</li>
            </ul>
        </div>
    </div>

    <strong>Ex -02 (From)</strong>
    <hr>


    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>from(['Alex','John','Blue'])</p>
            <hr>
            <ul id='elContainer3'>

            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <strong>Promise</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>Promise to Observable</p>
            <hr>
            <ul id='elContainer4'>
    
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>String to Observable</p>
            <hr>
            <ul id='elContainer5'>
    
            </ul>
        </div>
    </div>
</div>