/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


ul.techList
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.techList li
{
    background: #f8f8f8;
    border: 1px solid #ddd;
    border: #ddd;
    margin-bottom: 10px;
    padding: 8px 13px;
}

ul.techList.error li {
    color: red;
    background-color: rgba(255, 0, 0, 0.08);
    border-color: red;
}


ul.techList.completed li {
    color: #3dd843;
    background-color: rgba(61, 216, 67, 0.08);
    border-color: #3dd843;
}
